{% extends "blog/base.html" %}

{% block content %}
<h1>Posts tagged with "{{ tag_name }}"</h1>

<div class="posts-list">
    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
            <p>Posted by {{ post.author }} on {{ post.published_date }}</p>
            <div>{{content|safe }}</div>
            <div>
                Tags:
                {% for tag in post.tags.all %}
                    <a href="{% url 'tagged_posts_list' tag_slug=tag.name %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    {% empty %}
        <p>No posts to display.</p>
    {% endfor %}
</div>

{% endblock %}
